# ==============================
# GitHub Profile 3D Contrib — ENV
# ==============================

# Required
GITHUB_TOKEN=ghp_your_personal_access_token_here
USERNAME=TinNK3

# Optional
MAX_REPOS=100
GITHUB_ENDPOINT=https://api.github.com/graphql
YEAR=2026
